.banner{
  display: flex;
  flex-direction:column;
  align-items:center;
  height:100%;
  margin-top:20%;
  transform:translate(0,-50%)
}
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .content{
    width: 100%;
    text-align: center;
    color: #cb0841;
    font-size: 70px;
    text-shadow: 0 0 5px black;
 }
  .searchTerm {
    width: 100%;
    border: 3px solid #cb0841;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    color:mintcream ;
    text-shadow: 1 1 1px black;
    
    background-color:#1a1a1c;
  }
/*   .searchTerm:focus + .wrap{
    width: 40%;
  } */

  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid  #cb0841;
    background:  #cb0841;
    text-align: center;
    color:black;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
  }
.full{
    background: #1a1a1c;
  background-image: url('https://images.pexels.com/photos/6238050/pexels-photo-6238050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  object-fit:contain;
   background-repeat: no-repeat;
  background-size: 100%;
}
