body{
   background:#1a1a1c;
  margin:20px;
}
.card_cont{
  box-shadow:0 10px 10px rgba(0,0,0,.6);
  transition: all 0.5s;
}
.clg_img{
  border-radius:5px;
}
.card_cont:hover{
  box-shadow:none;
}
a{
  text-decoration:none;
  color:black;
  transition: all 0.5s;
}
.navbar{
  background-color:mintcream;
}
.navbar-brand{
  text-color:#cb0841;
}

h3{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  width:100%;
  color:#cb0841;
}